// VARIABLES ------------------------------------ /

$white: #fff;

$color-primary: #239bb9; // teal
$color-secondary: #860c41; // dark violet red
$color-accent: #eeea72;
$color-shade: rgb(255, 255, 255);

$color-text: #343434;
$color-bg: #3acec2;
$color-bg-light: #cdd2d4;

$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;

$max-width: 1000px;
